.container {
    max-width: 600px;
    max-height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

p.bio {
    text-align: center;
    width: 600px;
    height: 250px;
}

hr {
    width: 200px;
    height: 10px;
    background-color: salmon;
    margin-bottom: 50px;
    margin-top: 10px;
}

img.logo{
    width: 250px;
    height: 350px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 7);
}

h1.name {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

span.slogan{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 35px;
}

.social-img ul {
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.social-img ul li {
    display: inline;
    background: rgba(204, 204, 204, 0.5);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 150ms ease-in-out;
}

.social-img ul li:hover {
    background: #ccc;
}

h5 {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.work {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: rgba(51, 51, 51, 0.5);
}